@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

html {
  min-height: 100% !important;
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
body {
    min-height: 100% !important;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  background-color: #f6f6f6;
}

.header {
  height: 60px;
  background-color: #536169;
  padding-left: 20%;
  padding-right: 20%;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(143,143,143,0.47);
  -moz-box-shadow: 0px 0px 2px 0px rgba(143,143,143,0.47);
  box-shadow: 0px 0px 2px 0px rgba(143,143,143,0.47);
}

.header img {
  float: left;
  margin-top: 18px;
}

ul {
  float: right;
  list-style-type: none;
  margin: 14px 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin-left: 20px;
}

li a {
  display: block;
  padding: 8px;
}

li a:link {
  font-size: 14px;
  color: #e9e9e9;
  text-decoration: none;
}

li a:hover {
  font-size: 14px;
  color: #414141;
  text-decoration: none;
  transition: all .2s;
}

li a:visited:hover {
  font-size: 14px;
  color: #414141;
  text-decoration: none;
  transition: all .2s;
}

li a:visited {
  font-size: 14px;
  color: #e9e9e9;
  text-decoration: none;
}

.content {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px;
  background-color: #FFF;
  border-radius: 3px;
  font-size: 14px;
  color: #6d6d6d;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(143,143,143,0.47);
  -moz-box-shadow: 0px 0px 2px 0px rgba(143,143,143,0.47);
  box-shadow: 0px 0px 2px 0px rgba(143,143,143,0.47);
}

.text-table {
  padding-top: 35px;
}

.text-table td {
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  width: 20px;
}

.xor-ciphers-table {
  margin-left: 1px;
}

.xor-ciphers-table td {
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  width: 20px;
}

.result-table {
  padding-top: 0px;
  height: 25px;
}

.result-table td {
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  width: 20px;
}

.box {
  height: 27px;
  float: left;
  margin: 0 auto;
  margin-top: -30px;
  background-color: #50505033;
  border: 1px solid #b9b9b9;
  width: auto;
  top: 2px;
  border-radius: 3px;
}

.box p {
  display: inline-block;
  padding: 1px;
  margin: 0px;
}

.text {
  margin-top: 0;
  color: #fff;
  text-align: center;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 600;
}

.crib-slider {
  float: left;
  height: 27px;
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  background-color: #efefef;
  border: 1px solid #e6e6e6;
  display: inline-block;
  border-radius: 3px;
}

.crib-result {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #cfcfcf;
  margin-top: 7px;
  padding-left: 5px;
}

.opac {
  opacity: .8;
}

.move-cursor {
  cursor: move;
}


.crib-word {
  width: 50%;
  display: inline-block;
  float: left;
}

.cipher-input {
  float: right;
  width: 50%;
  display: inline-block;
}

.custom-hr {
  border-top: 1px solid #e6e6e6;
  border-bottom: none;
  margin-left: 5px;
}

.xor-image {
  position: absolute;
  top: 30px;
  margin-left: -5px;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.xor-result-image {
  position: absolute;
  top: 66px;
  margin-left: -5px;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.copy-image-1 {
  position: absolute;
  display: inline-block;
}

.copy-image-2 {
  position: absolute;
  display: inline-block;
}

.copy-image-1 img {
  position: absolute;
  margin-left: -20px;
  margin-top: 5px;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.copy-image-2 img {
  position: absolute;
  margin-left: -20px;
  margin-top: 5px;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.copy-image-1 .copy-to-clipboard {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 2px 0;
  border-radius: 6px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  position: absolute;
  z-index: 1;
}
.copy-image-1:hover .copy-to-clipboard{
  visibility: visible;
}

.copy-image-2 .copy-to-clipboard {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 2px 0;
  border-radius: 6px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  position: absolute;
  z-index: 1;
}
.copy-image-2:hover .copy-to-clipboard{
  visibility: visible;
}

.xor-ciphers {

}

.messages {
  margin-top: 20px;
  display: inline-block;
  margin-bottom: 100px;
}

.message1 {
  display: block-inline;
  float: left;
  width: 50%;
  height: 90px;
}

.message2 {
  display: block-inline;
  float: left;
  width: 50%;
  height: 90px;
}

.message-textarea-left {
  color: #6d6d6d;
  background-color: #efefef;
  width: 95%;
  float: left;
  resize: none;
  padding: 5px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.message-textarea-left:disabled {
  background-color: #efefef;
}

.message-textarea-right {
  color: #6d6d6d;
  background-color: #efefef;
  width: 95%;
  float: right;
  resize: none;
  padding: 5px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.message-textarea-right:disabled {
  background-color: #efefef;
}

input[type=text], select {
  width: 100%;
  padding: 8px 5px;
  margin: 8px 0;
  display: inline-block;
  color: #6d6d6d;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text]:disabled {
  background-color: #efefef;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=text]:focus {
  box-shadow: 0 0 5px #aee3ec;
  border: 1px solid #aee3ec;
}

.button {
  float: right;
  background-color: #8CCF8F;
  border: 1px solid #76c079;
  color: white;
  padding: 1px 5px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 0px 3px 3px 0px;
  margin-top: -1px;
  height: 23px;
  margin-right: -1px;
  transition: all .2s;
}

.button:hover {
  background-color: #62C967;
  border: 1px solid #58ae5c;
  transition: all .2s;
}

.crib-drag-form {
  height: 150px;
  border-bottom: 1px solid #e6e6e6;
}

.crib-drag-form-left {
  width: 100%;
  float:left;
  padding-right: 10px;
  width: calc(100% - 10px);
}

.crib-drag-form-right {
  width: 100%;
  float: right;
  padding-left: 10px;
  width: calc(100% - 10px);
}

.brute-results {
  width: 100%;
  float: right;
  display: inline-block;
  margin-top: 20px;
}

.brute-results-table {
  color: #6d6d6d;
  background-color: #efefef;
  width: 100%;
  float: right;
  resize: none;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.highlight-td {
  color: #efefef;
  background-color: #cfcfcf;
}

.content-info {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
}

.content-info h3 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 5px;
}

.sub-content-info {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
}

.sub-content-info h4 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 5px;
}

.otp-input {
  border-bottom: 1px solid #e6e6e6;
  height: 80px;
  margin-bottom: 15px;
}

.otp-message-left {
  display: inline-block;
  float: left;
  padding-right: 10px;
  width: calc(50% - 10px);
}

.otp-message-right {
  display: inline-block;
  float: right;
  padding-left: 10px;
  width: calc(50% - 10px);
}

.otp-xor-results {

}

.otp-xor-results input{
  background-color: #efefef;
}
.tg {
  border-collapse:collapse;
  border-spacing:0;
}
.tg td {
  font-size:14px;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:black;
}
.tg th {
  font-size:14px;
  font-weight:normal;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:black;
}
.tg .tg-xldj{
  border-color:inherit;text-align:left
}
.tg .tg-0lax{
  text-align:left;vertical-align:top
}
.tg .tg-0pky{
  border-color:inherit;text-align:left;vertical-align:top
}

.otp-table {
  height: 215px;
}

.left-table {
  width: 70%;
  display: inline-block;
  float:left;
}

.right-table {
  width: calc(30% - 20px);
  margin-left: 20px;
  display: inline-block;
  float: right;
  height: 220px;
}
